<div class="about-container">
  <div class="hex-image" data-scroll-animate="fadeInLeft">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 327.846 318.144">
      <defs>
        <clipPath id="aboutImage">
          <path
            transform="translate(111.598) rotate(30)"
            d="M172.871,0a28.906,28.906,0,0,1,25.009,14.412L245.805,97.1a28.906,28.906,0,0,1,0,28.989L197.88,208.784A28.906,28.906,0,0,1,172.871,223.2H76.831a28.906,28.906,0,0,1-25.009-14.412L3.9,126.092A28.906,28.906,0,0,1,3.9,97.1L51.821,14.412A28.906,28.906,0,0,1,76.831,0Z"
          ></path>
        </clipPath>
      </defs>
      <image
        clip-path="url(#aboutImage)"
        height="100%"
        width="100%"
        xlink:href="me/spain.jpg"
        preserveAspectRatio="xMidYMin slice"
      />
      <path
        class="border"
        d="M172.871,0a28.906,28.906,0,0,1,25.009,14.412L245.805,97.1a28.906,28.906,0,0,1,0,28.989L197.88,208.784A28.906,28.906,0,0,1,172.871,223.2H76.831a28.906,28.906,0,0,1-25.009-14.412L3.9,126.092A28.906,28.906,0,0,1,3.9,97.1L51.821,14.412A28.906,28.906,0,0,1,76.831,0Z"
        transform="translate(111.598) rotate(30)"></path>
    </svg>
  </div>
  <div class="about-content" data-scroll-animate="fadeInRight">
    <h2>About Me</h2>
    <p>
      Hello! I'm Julius, a physics student and developer based in Munich. I enjoy exploring the intersection of physics,
      hardware, and software and turning ideas into working systems. <br /><br />

      My projects range from web applications and backend services to hardware development with
      <span class="highlite">microcontrollers</span>, <span class="highlite">PCBs</span>, and
      <span class="highlite">FPGAs</span>. Alongside my physics studies at the Technical University of Munich, I work on
      control systems and optimization algorithms for integrated photonic chips at the startup Linque. Recently I have
      also been exploring agentic coding and how large language models will reshape the way we build software and
      hardware.
      <br /><br />

      I am most motivated by difficult problems that connect theory with practical engineering and result in systems
      that actually work. I am always looking for new challenges and opportunities to learn and grow as a developer and
      physicist. So if you have any cool projects you'd like to collaborate on, hit me up at
      <a href="mailto:contact@juliushussl.at">contact@juliushussl.at</a>.
    </p>
  </div>
</div>
<style lang="scss">
  .about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    text-align: left;
    width: 100%;
    color: var(--text-color);
    overflow-x: clip;

    .about-content {
      max-width: 900px;
      width: min(900px, calc(100vw - 2rem));
      box-sizing: border-box;
      padding: 50px;
      margin: 20px 50px;
      border-radius: var(--border-radius);
      background-color: var(--accent-dark);
      box-shadow: var(--box-shadow);
    }

    .hex-image {
      .border {
        fill: none;
        stroke: var(--accent-light);
        stroke-width: 5;
      }

      svg {
        width: 400px;
        height: 400px;
      }
    }
  }

  @media (max-width: 1024px) {
    .about-container {
      flex-flow: column;
      .hex-image {
        svg {
          width: 300px;
          height: 300px;
        }
      }
    }
  }

  @media (max-width: 720px) {
    .about-container {
      .about-content {
        font-size: 1em;
        padding: 20px;
        width: calc(100vw - 2rem);
        margin: 0;
      }
    }
  }
</style>
