---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import AboutMe from "../components/landing/aboutme.astro";
import ProjectList from "../components/landing/project-list.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import "../styles/landing.scss";
import Particles from "astro-particles";
import type { ISourceOptions } from "tsparticles-engine";
import { Icon } from "astro-icon/components";

const options: ISourceOptions = {
  zLayers: 1,
  fullScreen: false,
  style: {
    position: "absolute",
    width: "100%",
    height: "100%",
    zIndex: "-1",
    top: "0",
    left: "0",
  },
  particles: {
    number: {
      value: 15,
      density: {
        enable: true,
        value_area: 100,
      },
    },
    color: {
      value: "#027c68",
    },
    size: {
      value: 0,
      random: true,
    },
    line_linked: {
      enable: true,
      distance: 150,
      color: "#027c68",
      opacity: 1,
      width: 0.3,
    },
    move: {
      enable: true,
      speed: 0.2,
    },
  },
  interactivity: {
    detect_on: "canvas",
    events: {
      onhover: {
        enable: true,
        mode: "grab",
      },
      onclick: {
        enable: true,
        mode: "push",
      },
      resize: true,
    },
    modes: {
      grab: {
        distance: 200,
        line_linked: {
          opacity: 0.5,
        },
      },
      push: {
        particles_nb: 2,
      },
    },
  },
  retina_detect: true,
};
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <script src="../scripts/landing.ts"></script>
    <script src="../scripts/links.ts"></script>
    <script src="../scripts/animate.ts"></script>
  </head>
  <body>
    <!-- <Header /> -->
    <div class="landing-container">
      <div class="greeting-container">
        <div class="intro"><div class="intro-typed"></div></div>
        <div class="highlight"><div class="highlight-typed"></div></div>
        <div class="sub-intro"><div class="sub-intro-typed"></div></div>
        <div class="social-icons">
          <a href="https://www.github.com/Iqwertz">
            <Icon name="mdi:github" />
          </a>
          <a href="https://www.linkedin.com/in/ju-hu/">
            <Icon name="mdi:linkedin" />
          </a>
          <a href="mailto:contact@juliushussl.at">
            <Icon name="mdi:email" />
          </a>
        </div>
      </div>
      <div class="image-container animate__animated animate__zoomIn">
        <svg xmlns="http://www.w3.org/2000/svg" width="327.846" height="318.144" viewBox="0 0 327.846 318.144">
          <defs>
            <clipPath id="image">
              <path
                transform="translate(111.598) rotate(40)"
                d="M172.871,0a28.906,28.906,0,0,1,25.009,14.412L245.805,97.1a28.906,28.906,0,0,1,0,28.989L197.88,208.784A28.906,28.906,0,0,1,172.871,223.2H76.831a28.906,28.906,0,0,1-25.009-14.412L3.9,126.092A28.906,28.906,0,0,1,3.9,97.1L51.821,14.412A28.906,28.906,0,0,1,76.831,0Z"
              ></path>
            </clipPath>
          </defs>
          <image
            clip-path="url(#image)"
            height="100%"
            width="100%"
            xlink:href="me/julius2.jpg"
            preserveAspectRatio="xMidYMin slice"
          />
          <path
            class="border"
            d="M172.871,0a28.906,28.906,0,0,1,25.009,14.412L245.805,97.1a28.906,28.906,0,0,1,0,28.989L197.88,208.784A28.906,28.906,0,0,1,172.871,223.2H76.831a28.906,28.906,0,0,1-25.009-14.412L3.9,126.092A28.906,28.906,0,0,1,3.9,97.1L51.821,14.412A28.906,28.906,0,0,1,76.831,0Z"
            transform="translate(111.598) rotate(40)"></path>
        </svg>
      </div>
      <div class="arrow-container">
        <a href="#aboutme">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="60"
            height="60"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <polyline points="6 9 12 15 18 9"></polyline>
          </svg>
        </a>
      </div>
    </div>
    <Particles id="tsparticles" options={options} init="particlesInit" />
    <div class="about-me" id="aboutme">
      <AboutMe />
    </div>
    <div class="projects" id="projects">
      <ProjectList />
    </div>
    <Footer />
  </body>
</html>
